<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ">

    <targets>
        <target name="logfile" xsi:type="File"
                fileName="./Logs/portunus-${shortdate}.log"
                layout="${longdate} ${level:uppercase=true} ${message}"/>

        <target xsi:type="ColoredConsole" name="cconsole"
            layout="${date:format=(HH\:mm\:ss.ffff)} [${logger}][${level}][${threadid}] ${message}"
            useDefaultRowHighlightingRules="false">
            <highlight-row backgroundColor="NoChange" foregroundColor="White" condition="level == LogLevel.Info" />
            <highlight-row backgroundColor="NoChange" foregroundColor="Yellow" condition="level == LogLevel.Warn" />
            <highlight-row backgroundColor="NoChange" foregroundColor="Gray" condition="level == LogLevel.Debug" />
            <highlight-row backgroundColor="NoChange" foregroundColor="Red" condition="level == LogLevel.Error" />
            <highlight-row backgroundColor="NoChange" foregroundColor="DarkGray" condition="level == LogLevel.Trace" />
            <highlight-row backgroundColor="NoChange" foregroundColor="DarkRed" condition="level == LogLevel.Fatal" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile"/>
        <logger name="*" minlevel="Debug" writeTo="cconsole" />
    </rules>
</nlog>